
<!DOCTYPE html>
   <head>
      <title>My Bed Controller</title>
      <link rel="stylesheet" href="../static/style.css/">
   <center><h1>My Bed Controller</h1></center><br>
    </head>
   <center><body>
        <h1> 
                <a href="/bedController?bed_part=head&bed_position=up&duration=2" class="button">Head Up</a>  
        </h1>
        <h1> 
                <a href="/bedController?bed_part=head&bed_position=down&duration=2" class="button">Head Down</a>
        </h1>
        <h1> 
                <a href="/bedController?bed_part=leg&bed_position=up&duration=2" class="button">Leg Up</a>
        </h1>
        <h1> 
                <a href="/bedController?bed_part=leg&bed_position=down&duration=2" class="button">Leg Down</a>
        </h1></center>
   </body>
</html>
